<div [ngClass]="{'color-normal': trip.maxAttendance - service.chosenTrips[trip.key] > 3,
    'color-low': trip.maxAttendance - service.chosenTrips[trip.key] > 0 && trip.maxAttendance - service.chosenTrips[trip.key] <= 3,
    'color-empty': trip.maxAttendance - service.chosenTrips[trip.key] == 0, 'border-max': trip.unitPrice == service.maxUnitPrice, 'border-min': trip.unitPrice == service.minUnitPrice}" class="container">
<div class="trip">
    <h1>{{trip.name | uppercase}}</h1>
    <h2>{{trip.country | uppercase}}</h2>
    <div>{{trip.unitPrice | currency:'USD'}}</div>
    <p>{{trip.startDate}} - {{trip.endDate}}</p>
    <p>{{trip.description}}</p>
    <ng-container *ngIf="!(trip.maxAttendance - service.chosenTrips[trip.key])">Brak dostepnych wycieczek</ng-container>
    <ng-container *ngIf="(trip.maxAttendance - service.chosenTrips[trip.key])">Zarezerwuj!</ng-container>
    <div class="buttons">
    <button id="button-left" [disabled]="!service.chosenTrips[trip.key]" [ngStyle]="{'visibility': service.chosenTrips[trip.key] > 0 ? 'visible' : 'hidden'}" (click)="service.removeFromCart(trip.key)">-</button>
    <p>{{trip.maxAttendance - service.chosenTrips[trip.key]}}</p>
    <button id="button-right" [disabled]="!(trip.maxAttendance - service.chosenTrips[trip.key])" [ngStyle]="{'visibility': (trip.maxAttendance - service.chosenTrips[trip.key]) > 0 ? 'visible' : 'hidden'}" (click)="service.addToCart(trip.key)">+</button>
    </div>
</div>
<div class="image">
    <div *ngIf="trip.photos"><a routerLink="/trips/{{[i]}}"><img [src]="trip.photos[0]" alt="zdjecie"></a></div>       
</div>
</div>

